<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <div class="client_logo">
      <img src="images/Subject2.png" alt="">
    </div>
    <!-- <i class="fas fa-key fa-6x"></i> -->
    <h1 class="display-3">Client</h1>
<p>Streamline Your Tasks with Work-Connect: Find Reliable Workers for Your Jobs with Ease</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/C-register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/C-login" role="button">Login</a>

  </div>
</div>

<%- include('partials/footer') %>
