
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Document</title>
</head>
<body style="background-color: #E8ECEF;">
    <div  class="Wleft" style="background-color: #609EA2;">
        <img src="https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bWFsZSUyMHByb2ZpbGV8ZW58MHx8MHx8&w=1000&q=80"
            alt="Profile Picture" class="Wimage">
        
              
        
        <p class="Wbio">
           
            Name : Owais<br>
            Mobile Number : 90759744<br>
            Address : firdous colony<br>
            
        </p>
        <button class="Wconnect-button">Edit</button>
    </div>
    <div class="Wright">
        <div class="Wcontent">
            <div class="Wclient">
                <div class="Wimg"><img
                        src="https://img.freepik.com/free-photo/portrait-white-man-isolated_53876-40306.jpg?w=360"
                        alt="Profile Picture" class="Wimage clientImage"></div>
                <div class="Winfo">
                    Name : Chinmay<br><br>
                    Job Type: Driver<br><br>
                    Job Description: Trip of Pune to Mumbai of 10 people<br><br>
                    <button class="Wconnect-button">Apply</button>
                </div>
            </div>
            <!-- <div class="Wclient">
                <div class="img"><img
                        src="https://c1.wallpaperflare.com/preview/711/14/431/smile-profile-face-male.jpg"
                        alt="Profile Picture" class="image clientImage"></div>
                <div class="info">
                    Name : Harsh<br><br>
                    Job Type: Mechanic<br><br>
                    Job Description : Repairing brakes of car<br><br>
                    <button class="connect-button">Apply</button>
                </div>
            </div>
            <div class="client">
                <div class="img"><img
                        src="https://c1.wallpaperflare.com/preview/711/14/431/smile-profile-face-male.jpg"
                        alt="Profile Picture" class="image clientImage"></div>
                <div class="info">
                    Name : Harsh<br><br>
                    Job Type: Maid<br><br>
                    Job Description : Maid for cooking<br><br>
                    <button class="connect-button">Apply</button>
                </div>
            </div>
            <div class="client">
                <div class="img"><img
                        src="https://c1.wallpaperflare.com/preview/711/14/431/smile-profile-face-male.jpg"
                        alt="Profile Picture" class="image clientImage"></div>
                <div class="info">
                    Name : Harsh<br><br>
                    Job Type : Electrician<br><br>
                    Job Description: Repairing Fan<br><br>
                    <button class="connect-button">Apply</button>
                </div>
            </div> -->


        </div>
    </div>
</body>
</html>



