<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <!-- <i class="fas fa-key fa-6x"></i> -->
    <div class="worker_logo">
      <img src="images/Subject1.png">
    </div>
    <h1 class="display-3">Worker</h1>
    <!-- <p class="lead">Don't keep your secrets, share them anonymously!</p> -->
    <p>Empower Your Career with Work-Connect: Find Your Next Job with Ease</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div>

<%- include('partials/footer') %>
