<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <!-- <i class="fas fa-key fa-6x"></i> -->
    <div class="main_logo">
      <img src="images/Subject.png">
    </div>
    <h1 class="display-3">Work-Connect</h1>
    <p class="lead">Streamline Your Workforce with Work-Connect: The Ultimate Connection for Daily-Wage Workers and Clients!</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/C-home" role="button">Client</a>
    <a class="btn btn-dark btn-lg" href="/home" role="button">Worker</a>

  </div>
</div>

<%- include('partials/footer') %>
